#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
  }
    #sortable li { 
      margin: 3px 3px 3px 0;
      padding: 1px;
      float: left;
      font-size: 4em;
      line-height: 1;
      text-align: center;
      padding: 10px 21px;
      background-color: cadetblue;
      cursor: -webkit-grab;
  }
  #sortable li.success {
    background-color: green;
  }
  